<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>

  <script src="js/index.js"></script>
  <script src="components/jquery-csv/src/jquery.csv.min.js"></script>

<% include footer %>